<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

<h2 th:text="#{owners}">Owners</h2>

<div class="row">
  <div class="col-md-12">
    <div th:if="${message}" class="alert alert-success" role="alert">
      <p th:text="${message}">Success message</p>
    </div>
    <div th:if="${error}" class="alert alert-danger" role="alert">
      <p th:text="${error}">Error message</p>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <h4>AWS S3 Operations</h4>
    <form th:action="@{/owners/s3/push}" method="post" style="display: inline-block; margin-right: 10px;">
      <div class="input-group">
        <input type="text" class="form-control" name="filename" placeholder="Filename (e.g., owners.json)" value="owners.json" />
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary">Push All Owners to S3</button>
        </div>
      </div>
    </form>
    <a class="btn btn-info" th:href="@{/owners/s3/list}">List S3 Files</a>
  </div>
</div>

<table id="owners" class="table table-striped">
  <thead>
  <tr>
    <th th:text="#{name}" style="width: 150px;">Name</th>
    <th th:text="#{address}" style="width: 200px;">Address</th>
    <th th:text="#{city}">City</th>
    <th th:text="#{telephone}" style="width: 120px">Telephone</th>
    <th th:text="#{pets}">Pets</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="owner : ${listOwners}">
    <td>
      <a th:href="@{/owners/__${owner.id}__}" th:text="${owner.firstName + ' ' + owner.lastName}"/></a>
    </td>
    <td th:text="${owner.address}"/>
    <td th:text="${owner.city}"/>
    <td th:text="${owner.telephone}"/>
    <td><span th:text="${#strings.listJoin(owner.pets, ', ')}"/></td>
  </tr>
  </tbody>
</table>
<div th:if="${totalPages > 1}">
  <span th:text="#{pages}">Pages:</span>
  <span>[</span>
  <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/owners?page=' + ${i}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span>
    </span>
  <span>]&nbsp;</span>
  <span>
      <a th:if="${currentPage > 1}" th:href="@{'/owners?page=1'}" title="First"
         class="fa fa-fast-backward"></a>
      <span th:unless="${currentPage > 1}" title="First" class="fa fa-fast-backward"></span>
    </span>
  <span>
      <a th:if="${currentPage > 1}" th:href="@{'/owners?page=__${currentPage - 1}__'}" title="Previous"
         class="fa fa-step-backward"></a>
      <span th:unless="${currentPage > 1}" title="Previous" class="fa fa-step-backward"></span>
    </span>
  <span>
      <a th:if="${currentPage < totalPages}" th:href="@{'/owners?page=__${currentPage + 1}__'}" title="Next"
         class="fa fa-step-forward"></a>
      <span th:unless="${currentPage < totalPages}" title="Next" class="fa fa-step-forward"></span>
    </span>
  <span>
      <a th:if="${currentPage < totalPages}" th:href="@{'/owners?page=__${totalPages}__'}" title="Last"
         class="fa fa-fast-forward"></a>
      <span th:unless="${currentPage < totalPages}" title="Last" class="fa fa-step-forward"></span>
    </span>
</div>
</body>
</html>

