<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'vets')}">

<body>

<h2 th:text="#{vets}">Veterinarians</h2>

<div class="row">
  <div class="col-md-12">
    <div th:if="${message}" class="alert alert-success" role="alert">
      <p th:text="${message}">Success message</p>
    </div>
    <div th:if="${error}" class="alert alert-danger" role="alert">
      <p th:text="${error}">Error message</p>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <h4>AWS S3 Operations</h4>
    <form th:action="@{/vets/s3/push}" method="post" style="display: inline-block; margin-right: 10px;">
      <div class="input-group">
        <input type="text" class="form-control" name="filename" placeholder="Filename (e.g., vets.json)" value="vets.json" />
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary">Push to S3</button>
        </div>
      </div>
    </form>
    <a class="btn btn-info" th:href="@{/vets/s3/list}">List S3 Files</a>
  </div>
</div>

<table id="vets" class="table table-striped">
  <thead>
  <tr>
    <th th:text="#{name}">Name</th>
    <th th:text="#{specialties}">Specialties</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="vet : ${listVets}">
    <td th:text="${vet.firstName + ' ' + vet.lastName}"></td>
    <td><span th:each="specialty : ${vet.specialties}"
              th:text="${specialty.name + ' '}"/> <span
      th:if="${vet.nrOfSpecialties == 0}" th:text="#{none}">none</span></td>
  </tr>
  </tbody>
</table>

<div th:if="${totalPages > 1}">
  <span th:text="#{pages}">Pages:</span>
  <span>[</span>
  <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/vets.html?page=__${i}__'}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span>
    </span>
  <span>]&nbsp;</span>
  <span>
      <a th:if="${currentPage > 1}" th:href="@{'/vets.html?page=1'}" title=#{first}
         class="fa fa-fast-backward"></a>
      <span th:unless="${currentPage > 1}" th:text="#{first}" title=#{first} class="fa fa-fast-backward"></span>
    </span>
  <span>
      <a th:if="${currentPage > 1}" th:href="@{'/vets.html?page=__${currentPage - 1}__'}" title=#{previous}
         class="fa fa-step-backward"></a>
      <span th:unless="${currentPage > 1}" th:text="#{previous}" title=#{previous} class="fa fa-step-backward"></span>
    </span>
  <span>
      <a th:if="${currentPage < totalPages}" th:href="@{'/vets.html?page=__${currentPage + 1}__'}" title=#{next}
         class="fa fa-step-forward"></a>
      <span th:unless="${currentPage < totalPages}" th:text="#{next}" title=#{next} class="fa fa-step-forward"></span>
    </span>
  <span>
      <a th:if="${currentPage < totalPages}" th:href="@{'/vets.html?page=__${totalPages}__'}" title=#{last}
         class="fa fa-fast-forward"></a>
      <span th:unless="${currentPage < totalPages}" th:text="#{last}" class="fa fa-fast-forward"></span>
    </span>
</div>
</body>
</html>
